{% extends 'layouts/app.html' %}

{% block content %}
<style>
    body {
    background: radial-gradient(circle, #2b2b2b, #1e1e1e, #3b3b3b, #121212, #000000);
    background-size: 200% 200%;
    animation: dark-pulse-animation 6s ease infinite;
}

@keyframes dark-pulse-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


</style>

<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-sm-12 col-md-8 col-lg-6">
            <div class="card bg-dark text-white shadow-sm border-0">
                <div class="card-body p-5 text-center">
                    <h1 class="mb-4">Welcome: {{ request.user.username }}</h1>
                    <a href="{% url 'export_users_to_excel' %}" class="btn btn-success mb-4">Export to Excel</a>
                    <form method="get" action="{% url 'export_invoices_pdf' %}">
                        <button type="submit" class="btn btn-primary">Export to PDF</button>
                    </form>
                    <div class="mt-4">
                        <a href="{% url 'logout' %}" class="btn btn-danger btn-block">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
